@import "./variables";

.footer {
  display: flex;
  justify-content: space-around;
  color: $secondaryColor;
  background-color: $mainColor;
  padding: 1rem 2rem 2rem 2rem;
  height: 40vh;

  h4 {
    color: black;
    font-size: 1.2rem;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;

    margin-top: 0.5rem;

    i {
      margin-right: 1rem;
      color: $textColor;
    }

    a {
      text-decoration: none;
      color: $secondaryColor;

      &:hover {
        color: black;
      }
    }
  }

  form {
    input {
      outline: none;
      border: none;
      padding: 0.5rem;
      background: $textColor;
      color: $secondaryColor;
      border-radius: 50px;
      width: 14rem;
      font-weight: 500;
      margin-top: 1rem;
    }

    .sub-btn {
      display: flex;
      @extend input;
      background: $secondaryColor;
      color: $textColor;
      font-weight: 500;
      justify-content: center;

      &:hover {
        background: #bebeb5;
        color: $mainColor;
        transition: all 0.5s ease;
      }
    }
  }
  .copy-right {
    margin-top: 1.5rem;
    color: $textColor;

    p {
      margin-bottom: 0.7rem;
    }
  }
  @media only screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 90vh;
    width: 100vw;

    .footer-grid-2 {
      margin-top: 2rem;
    }
  }
}
