@import "./variables";

.home {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;

  .home-text {
    width: 50vw;
    p {
      font-size: 1.5rem;
      padding-left: 3rem;

      span {
        color: $mainColor;
        font-weight: 600;
      }
    }

    .home-btn {
      margin-left: 3rem;
      margin-top: 2rem;
      background: $mainColor;
      border-radius: 50px;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border: none;
      outline: none;
      color: $textColor;
      font-weight: 600;
      cursor: pointer;
      font-size: 1.2rem;
      i {
        margin-left: 0.3rem;
      }

      &:hover {
        background: #bebeb5;
        color: $mainColor;
        transition: all 0.5s ease;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 0;

    .home-text {
      width: 90vw;
    }

    .home-img {
      margin-top: 4rem;
      margin-bottom: 4rem;
      display: flex;
      justify-content: center;
      .home-img-container {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
